<?xml version="1.0" encoding="UTF-8"?> <!-- xml 문서 버전 / 한글 인코딩 명시-->
<Configuration> <!-- 로그의 설정 루트 태그 -->
    <!-- Appender, Layout 설정-->
    <Appenders> <!-- 어디에 출력할지, 출력 위치를 정의 -->
        <Console name="console" target="SYSTEM_OUT"> <!-- 1. 로그를 콘솔에 출력한다 2. appenders의 이름 3. 로그를 sout처럼 출력한다-->
            <PatternLayout pattern=" %-5level %c(%M:%L) - %m%n"/> <!-- 로그매세지 출력 형식(pattern) : 각 %는 로그에 찍힐 항목 _ 로그레벨, 클래스, 메서드이름, 줄 번호, 실제 로그메세지-->
            <!-- 로그 예시 : INFO  org.scoula.MyClass(myMethod:42) - DB 연결 성공 -->
        </Console>
    </Appenders>

    <!-- Logger 설정-->
    <Loggers><!-- 어떤 로그를 찍을지 결정하기 -->
        <Root level="INFO"><!-- 모든 클래스에 기본적용되는 로그레벨 설정-->
            <AppenderRef ref="console"/> <!-- 위에서 정의한 appenders를 사용하겠다는 듯-->
        </Root>

        <!-- 개별 Logger 설정-->
        <Logger name="org.scoula" level="INFO" additivity="false" > <!-- name에 대한 패키니데 별도 로그 레벨 설정 | additivity="false": 루트 설정과 중복 출력하지 않도록 설정. -->
            <AppenderRef ref="console"/>
        </Logger>

        <Logger name="org.springframework" level="INFO" additivity="false">
            <AppenderRef ref="console"/>
        </Logger>
    </Loggers>
</Configuration>