<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>
    <settings>
        <setting name="mapUnderscoreToCamelCase" value="true"/>
    </settings>

    <!--전체 주소를 다 넣지 않고 사용하기 위해 자주 사용하는 경로는 여기에 넣어준다-->
    <typeAliases>
        <package name="org.scoula.security.account.domain" />
    </typeAliases>
</configuration>
